{% extends 'base.html' %}

{% block titulo %}
Nuevo Cultivo
{% endblock titulo %}


{% block contenido %}

<div class="container">
    <div class="form-container">
        <h1>{{accion}} Tipo Cultivo</h1>
        <form method="post">
            {% csrf_token %}
            {{form.as_p}}
            <button class="btn-success" type="submit" 
            style="background-color: #28a745; color: white; border: none; padding: 10px 20px; border-radius: 5px; cursor: pointer;">Guardar</button>
        </form>
    </div>
</div>

{% endblock contenido %}