{% extends 'base.html' %}
{% load static %}

{% block titulo %}
cultivos
{% endblock titulo %}

{% block contenido %}
<h1>Cultivos</h1>

<form id="calculoForm" method="post" action="{% url 'calculadora' %}">
    {% csrf_token %}
    <div class="mb-3">
        <label for="rendimiento" class="form-label">Rendimiento (kg ha<sup>-1</sup>)</label>
        <input type="number" class="form-control" id="rendimiento" name="rendimiento" step="0.01" placeholder="Ingrese el rendimiento del grano" required>
    </div>

    <div class="mb-3">
        <label for="humedad" class="form-label">Humedad del Grano (%)</label>
        <input type="number" class="form-control" id="humedad" name="humedad" step="0.01" placeholder="Ingrese la humedad del grano" required>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Nombre de cultivo</th>
                <th>Tipo Cultivo</th>
                <th>Acción</th>
            </tr>
        </thead>
        
        <tbody>
            {% for cultivo in object_list %}
            <tr>
                <td>{{ cultivo.nombre }}</td>
                <td>{{ cultivo.tipo_cultivo }}</td>
                <td>
                    <button type="submit" class="btn btn-success calcular-btn" name="cultivo_id" value="{{ cultivo.id }}">
                        Calcular
                    </button>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3">
                    <p>No existen cultivos aún</p>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</form>

<h2>Resultado</h2>
<blockquote id="resultado">
    
    {% if todo %}
    <table class="table">
        <thead>
            <tr>
                <th>Nutriente</th>
                <th>Absorción (kg ha<sup>-1</sup>)</th>
                <th>Extracción (kg ha<sup>-1</sup>)</th>
            </tr>
        </thead>
        {% for nu, ab, ex in todo %}
            <tbody>
                <tr>
                    <td>{{ nu }}</td>
                    <td>{{ ab }}</td>
                    <td>{{ ex }}</td>
                </tr>
            </tbody>    
        {% endfor %}
    </table>
    <form id="pdfForm" method="post">
        {% csrf_token %}
        <input type="hidden" name="nombre" value="{{ nombre }}">
        <input type="hidden" name="rendimiento" value="{{ rendimiento }}">
        <input type="hidden" name="humedad" value="{{ humedad }}">
        {% for nu, ab, ex in todo %}
            <input type="hidden" name="nutrientes" value="{{ nu }}">
            <input type="hidden" name="absorcion" value="{{ ab }}">
            <input type="hidden" name="extraccion" value="{{ ex }}">
        {% endfor %}
        
        <button type="submit"  id="pdfSubmit">Generar PDF</button>
    </form>
    {% else %}

    {% endif %}
</blockquote>

{% endblock contenido %}

{% block scripts %}

{% endblock scripts %}